In [7]:
name@ = "Dajiba Mane"

SyntaxError: invalid syntax (799797537.py, line 1)

In [3]:
name_"Dajiba mane"
Skip to Main
Untitled10
Last Checkpoint: 1 hour ago
[Python 3 (ipykernel)]
name@ = "Dajiba Mane"

  Cell In[7], line 1
    name@ = "Dajiba Mane"
          ^
SyntaxError: invalid syntax

name_"Dajiba mane"

  Cell In[3], line 1
    name_"Dajiba mane"
         ^
SyntaxError: invalid syntax

_="Dajiba mane"
break = "Dajiba mane"

  Cell In[8], line 1
    break = "Dajiba mane"
          ^
SyntaxError: invalid syntax

49="Dajiba mane"

  Cell In[9], line 1
    49="Dajiba mane"
    ^
SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='?

roll_no_49 = "Dajiba mane"
roll_no_49

'Dajiba mane'

true = "Dajiba mane"
na me = "Dajiba mane"

  Cell In[14], line 1
    na me = "Dajiba mane"
       ^
SyntaxError: invalid syntax

age = 35
age = 35
age

35

age

35

23name = "Dajiba mane"

  Cell In[20], line 1
    23name = "Dajiba mane"
     ^
SyntaxError: invalid decimal literal

name23 = "Dajiba mane"
a, b, c, = 23,67,45
a

23

b

67

SyntaxError: invalid syntax (4183275391.py, line 1)

In [7]:
_="Dajiba mane"

In [8]:
break = "Dajiba mane"

SyntaxError: invalid syntax (3621622660.py, line 1)

In [9]:
49="Dajiba mane"

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1309559317.py, line 1)

In [10]:
roll_no_49 = "Dajiba mane"

In [11]:
roll_no_49

'Dajiba mane'

In [12]:
true = "Dajiba mane"

In [14]:
na me = "Dajiba mane"

SyntaxError: invalid syntax (186949258.py, line 1)

In [16]:
age = 35

In [17]:
age = 35

In [18]:
age

35

In [19]:
age

35

In [20]:
23name = "Dajiba mane"

SyntaxError: invalid decimal literal (3075133178.py, line 1)

In [24]:
name23 = "Dajiba mane"

In [27]:
a, b, c, = 23,67,45

In [28]:
a

23

In [34]:
b

67

c

45

In [39]:
# library function or in-built function
print("bimaraj lad")

bimaraj lad

In [40]:
print(a)
print("a")

23
a

print(a,b,c)

23,67,45

In [43]:
# o/p-->23 ,67, 45
print(23, 67, 45, sep=',')

23,67,45

In [44]:
name = "Dajiba mane"

In [45]:
type(name)

str

In [46]:
name1 ='Dajiba mane'

In [47]:
type(name1)

str

In [48]:
name2 ="""Dajiba mane"""

In [49]:
name3 = ''' Dajiba mane'

SyntaxError: incomplete input (3906119878.py, line 1)

In [50]:
# single quote in string as allowed
# double quote in string as allowed

In [51]:
print("Dajiba mane")
print("bimaraj lad")

Dajiba mane
bimaraj lad